body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background: #00258a;
    color: #fff;
    text-align: center;
}

header {
    padding: 20px;
    background: #ff3333;
    box-shadow: 0 0 20px #ff3333;
}

.gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    width: 260px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.gallery img:hover {
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 0 20px #ff4444;
    filter: brightness(1.2);
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    animation: zoom 0.4s ease-in-out;
    border-radius: 8px;
}

@keyframes zoom {
    from { transform: scale(0.6); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}