body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background: #f2f2f2;
}

.hero {
    background: url('img/hero.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.artikel {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
}

.img-artikel {
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
}

.sumber {
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
    color: #555;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}